<div class="columns">
  <div class="column is-one-quarter">
    <%= character.name %>
  </div>
  <div class="column is-one-quarter">
    <%= character.present_status %>
  </div>
  <div class="column">
  </div>
</div>
