<div class="columns">
  <div class="column is-one-quarter">
    <%= character.name %>
  </div>
  <div class="column is-one-quarter">
    <%= character.present_status %>
  </div>
  <div class="column is-one-quarter">
    <%= link_to "View", character_path(character), class: "button is-primary is-small" %>
  </div>
  <div class="column is-one-quarter">
    <%= link_to "Edit", edit_character_path(character), class: "button is-primary is-small" %>
  </div>
</div>
