<div class="columns">
  <div class="column"><%= link_to sanitize("&larr; Back to characters"), characters_path %></div>
</div>

<%= render partial: 'form', locals: { character: @character, submit_text: "Create Character" } %>
